PINECONE_API_KEY=pcsk_2A1bZj_H19jTvvT5NRQt9gfNwBwoSDR2P3eFsiau7hFLwRRUuhwMVmfcv9ssuTxFaUduQU
PINECONE_ENVIRONMENT=us-east-1  
PINECONE_INDEX_NAME=semantic-search

CONTENTSTACK_APP_UID=68b9929efc1888001298539d
CONTENTSTACK_CLIENT_ID=vAfUQNDFS26NfwF6
CONTENTSTACK_CLIENT_SECRET=SITwJeqdf6W2wvtJzHYPlgGn6Zoi5Cvz
CONTENTSTACK_REDIRECT_URI=https://db879ef01bf9.ngrok-free.app/oauth/callback
MONGO_URI=mongodb://localhost:27017/token

COHERE_API_KEY=BAkT2XtQi7N7MeCNqk8uN6JrE2Ibweh1hNScmRk5

FRONTEND_URL=http://localhost:3000